[submodule "common_msgs"]
	path = src/0_common/common_msgs
	url = https://github.com/Bashful-The-robot/common_msgs
[submodule "arm_control"]
	path = src/3_control/arm_control
	url = https://github.com/Bashful-The-robot/arm_control
[submodule "localization"]
	path = src/4_estimation/localization
	url = https://github.com/Bashful-The-robot/Localization
